.download{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.imagenmodal{
    display: none;
}

.megusta{
    display: none;
}

.spanfecha{
display: none;
}

.nombreuser{
    display: none;
}
.imghome{
    background-image: url("../../assets/tipos-cirujanos-large.jpg") !important;
    min-height: 85.6vh !important;
}

.imgsignin{
    background-image: url("../../assets/bg-medical-image.jpg") !important;
    min-height: 85.6vh !important;
}